/* @media (max-width: 84em) {
  .hero{
    max-width: 120rem;
  }
} */

@media (max-width: 84em) {
  /* For smaller desktop */
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 75em) {
  /* For Landscape Tablet */
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    row-gap: 6.8rem;
    column-gap: 4.8rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

@media (max-width: 59em) {
  /* For Tablet */
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    padding: 0 8rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-textbox,
  .hero-imagebox {
    text-align: center;
  }

  .deliver-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-description {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }
}
