/* ********** */
/* Header */
/* ********** */
header {
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  align-items: center;
}

.logo {
  height: 2.2rem;
}

/* Nav */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  background: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: #cf711f;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* ************ */
/* Hero section */
/* ************* */
.hero-section {
  background: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.deliver-meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}

.deliver-imgs {
  display: flex;
}

.deliver-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.deliver-imgs img:last-child {
  margin-right: 0;
}

.deliver-text {
  font-size: 1.5rem;
  font-weight: 800;
}

.deliver-text span {
  color: #e67e22;
}

/* ************ */
/* How Section */
/* *********** */
.section-how {
  padding: 9.6rem 0;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.75px;
}

.step-imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-imgbox::after,
.step-imgbox::before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.step-imgbox::before {
  width: 55%;
  padding-bottom: 55%;
  background: #fdf2e9;
}

.step-imgbox::after {
  width: 45%;
  padding-bottom: 45%;
  background: #fae5d3;
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.6;
}

/* *********** */
/* Featured Section */
/* ********* */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-family: Rubik-Bold;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  color: #888;
}

/* Review */
.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  /* width: 100%; */
  height: 3rem;
  filter: brightness(0%);
  opacity: 50%;
}

/* *********** */
/* Section Meals */
/* *********** */
.section-meals {
  padding: 5rem 0 9.6rem 0;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-image {
  width: 100%;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-tags {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  border-radius: 10rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #51c766;
}

.tag--paleo {
  background: #ffd43d;
}
.tag--vegan {
  background: #94d82d;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.1rem;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  box-shadow: 0 3.2rem 3.4rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2rem);
}

.meal-description {
  padding: 4.8rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.all-recipe {
  text-align: center;
  font-size: 1.8rem;
}

/* ******** */
/* Testimonials Section */
/* ******** */
.section-testimonials {
  padding: 9.6rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}