/* ********** */
/* Header */
/* ********** */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  align-items: center;
}

.logo {
  height: 2.2rem;
}

/* Nav */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  background: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: #cf711f;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* ************ */
/* Hero section */
/* ************* */
.hero-section {
  background: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.deliver-meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}

.deliver-imgs {
  display: flex;
}

.deliver-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.deliver-imgs img:last-child {
  margin-right: 0;
}

.deliver-text {
  font-size: 1.5rem;
  font-weight: 800;
}

.deliver-text span {
  color: #e67e22;
}

/* ************ */
/* How Section */
/* *********** */
.section-how {
  padding: 9.6rem 0;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.75px;
}

.step-imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-imgbox::after,
.step-imgbox::before {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.step-imgbox::before {
  width: 55%;
  padding-bottom: 55%;
  background: #fdf2e9;
}

.step-imgbox::after {
  width: 45%;
  padding-bottom: 45%;
  background: #fae5d3;
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.6;
}

/* *********** */
/* Featured Section */
/* ********* */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-family: Rubik-Bold;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  color: #888;
}

/* Review */
.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  /* width: 100%; */
  height: 3rem;
  filter: brightness(0%);
  opacity: 50%;
}

/* *********** */
/* Section Meals */
/* *********** */
.section-meals {
  padding: 5rem 0 9.6rem 0;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-image {
  width: 100%;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-tags {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  border-radius: 10rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #51c766;
}

.tag--paleo {
  background: #ffd43d;
}
.tag--vegan {
  background: #94d82d;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.1rem;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  box-shadow: 0 3.2rem 3.4rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2rem);
}

.meal-description {
  padding: 4.8rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.all-recipe {
  text-align: center;
  font-size: 1.8rem;
}

/* ******** */
/* Testimonials Section */
/* ******** */
.section-testimonials {
  background: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonial-container .heading-secondary {
  font-size: 3.7rem;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.15);
}

/* --------------------- */
/* Section Pricing */
/* --------------------- */
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  width: 75%;
  border-radius: 1.1rem;
}

.pricing-plan--starter {
  justify-self: end;
  padding: 4.6rem;
  border: 2px solid #fdf2e9;
}

.pricing-plan--complete {
  background: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: 'Best Value';
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  background: #ffd43d;
  position: absolute;
  padding: 0.8rem 8rem;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}

.plan-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-text {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.6rem;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* Features */
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}

/* ------------------ */
/* CTA SECTION */
/* ------------------- */
.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  height: 50rem;
  border-radius: 1.1rem;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-imgbox {
  background-image: linear-gradient(to right bottom, #eb974e3b, #e67d224d),
    url('../images/eating.jpg');
  background-position: center;
  background-size: cover;
}

.cta-textbox {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 2.6rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

input,
select {
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.9rem;
  background: #fdf2e9;
  color: inherit;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: #aaa;
}

form *:focus {
  outline: none;
  offset: 8px;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* ------------------ */
/* Footer */
/* ------------------ */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #767676;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}
